
.display-field {
    height: 30px;
    .label {
        font-size: 14px;
        color: grey;
        &.top {
            display: block;
        }
    }

    .value {
        font-size: 20px;
    }
}