.timer-header {
    height: 66px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
    margin-bottom: 20px;

    .search-field-wrapper {
        height: 100%;
        flex-grow: 1;
        padding-left: 10px;
    
        .search-timer-field {
            height: 100%;
            padding: 0;
            margin: 0;
            width: 100%;
            border:none;
            font-family: 'Roboto', sans-serif;
            font-size: 1.2em;
            &:focus {
                outline: none;
            }
        }
    }

    .timer-tool {
        display: flex;
        justify-content: right;
        margin-right: 20px;
    }
}

.timer-value-field {
    height: 100%;
    line-height: 66px;
    margin-right: 10px;
    font-size: 22px;
}

.timer-play-icon {
    color: rgb(56, 156, 56);
    font-size: 34px;
}

.timer-stop-btn {
    color: rgb(212, 21, 21);
    font-size: 34px;
}




