.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #272726;

  form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    min-width: 300px;
    max-width: 300px;
    background-color: #fff;
    border-radius: 2px;
    min-height: 200px;
  }

  .textField {
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
  }

  .errorBanner {
    background-color: #eab8b8;
  }

  .successBanner {
    background-color: rgb(83, 165, 66);
  }

  .actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    .signIn {
      padding: 5px 10px;
      margin-right: 10px;
    }

    .signUp {
      background-color: #df8979;
      padding: 5px 10px;
    }
  }
}
