.Button {
  overflow: visible;
  border-width: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  touch-action: manipulation;
}

.Button_view_clear {
  color: #000;
  background: transparent;
}

.Button_view_default {
  color: #000;
  transition: transform .1s ease-out, color .15s linear;
  transform: scale(1);
}

.Button_size_s {
  font-size: 12px;
}

.Button_size_m {
  font-size: 18px;
}

.Button_size_l {
  font-size: 24px;
}

.Button_view_clear {
  border: none;
}
